<div class="d-flex justify-content-between">
    <h2 class="text-primary text-decoration-underline">Datos Personales</h2>
    <i class="fa fa-pencil fs-3 text-secondary" aria-hidden="true"></i>
</div>
<div class="d-flex">
    <img class="rounded border border-5 border-success m-2" src="./assets/yo.jpeg" alt="" width="600rem" height="350rem">
    <ul class="list-group list-group-flush">
        <li class="list-group-item fs-5 fw-bold">Nombre: <span class="fw-normal fst-italic mx-2"> Juan Manuel</span></li>
        <li class="list-group-item fs-5 fw-bold">Apellido: <span class="fw-normal fst-italic mx-2">Maroñas Uria</span></li>
        <li class="list-group-item fs-5 fw-bold">Titulo: <span class="fw-normal fst-italic mx-2">Full-Stack</span></li>
        <li class="list-group-item fs-5 fw-bold">Dni: <span class="fw-normal fst-italic mx-2">28.995895</span></li>
        <li class="list-group-item fs-5 fw-bold">E-Mail: <span class="fw-normal fst-italic mx-2">jmmaronas@gmail.com</span></li>
        <li class="list-group-item fs-5 fw-normal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est architecto assumenda nostrum enim accusantium porro blanditiis maiores dolorum, rem totam, provident quod, dolore quisquam ad ab accusamus necessitatibus tempora suscipit.</li>
    </ul>
</div>
