<app-encabezado></app-encabezado>

<main class="mx-5 d-flex justify-content-around flex-column">
    <app-datos-personales class="my-4 p-2 border rounded section"></app-datos-personales>
    <app-experiencia-laboral class="my-4 p-2 border rounded section"></app-experiencia-laboral> 
    <app-educacion class="my-4 p-2 border rounded section"></app-educacion>
    <section class="dashWoardSkills section">

    </section>
</main>
<footer>
    <p>Fecha de creación <span>10/12/2021</span></p>
    <p></p>
</footer>